<div class='div-home-container'>
    <div class='div-home-body'>
        <div class='div-home-header'>
            <h1>Transloco Examples</h1>
            <label>Select a language</label>
            <mat-radio-group aria-label="Select a language" [(ngModel)]="selectedLanguage">
                <mat-radio-button value="es">es</mat-radio-button>
                <mat-radio-button value="en">en</mat-radio-button>
            </mat-radio-group>
        </div>

        <ng-container *transloco="let t;">
            <div>
                <mat-card>
                    <mat-card-title>
                        Using pure pipes to automatically switch between local and remote assets depending on internet
                        state.
                    </mat-card-title>
                    <mat-card-subtitle>
                        <div>
                            &lt;div [innerHTML]=&quot;t('article1.body') | icsLocoSwitcher: hasInternet | transloco |
                            icsTransloco |
                            async&quot;&gt;/div&gt;
                        </div>
                    </mat-card-subtitle>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <div>
                            <mat-slide-toggle color='primary' [(ngModel)]="hasInternet">Has Internet?</mat-slide-toggle>
                        </div>

                        <div>
                            {{'article1.body' | icsLocoSwitcher: hasInternet}}
                            <div
                                [innerHTML]="'article2.body' | icsLocoSwitcher: hasInternet | transloco | icsTransloco | async">
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

            <mat-list>
                <div>
                    <mat-card>
                        <mat-card-title>
                            Local and remote sentence
                        </mat-card-title>
                        <mat-card-subtitle>
                            <div>
                                'primeSealWash' | icsLocoSwitcher: hasInternet | transloco | icsTransloco |
                                async
                            </div>
                        </mat-card-subtitle>
                        <mat-divider></mat-divider>
                        <mat-card-content>
                            <div>
                                <h4>Local Text</h4>
                                <div>{{'primeSealWash' | icsLocoSwitcher: false | transloco | icsTransloco | async}}
                                </div>
                                <h4>Remote Text</h4>
                                <div>{{'primeSealWash' | icsLocoSwitcher: true | transloco | icsTransloco | async}}
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div>
                    <mat-card>
                        <mat-card-title>
                            Local and remote sentence with interpolations
                        </mat-card-title>
                        <mat-card-subtitle>
                            <div>
                                'withInterpolations' | icsLocoSwitcher: hasInternet | transloco | icsTransloco:
                                interpolatedValues | async
                            </div>
                        </mat-card-subtitle>
                        <mat-divider></mat-divider>
                        <mat-card-content>
                            <div>
                                <h4>Local Text with dynamic data.</h4>
                                <div>
                                    {{'withInterpolations' | icsLocoSwitcher: false | transloco | icsTransloco: interpolatedValues | async }}
                                </div>
                                <h4>Remote Text with dynamic data</h4>
                                <div>
                                    {{'withInterpolations' | icsLocoSwitcher: true | transloco | icsTransloco: interpolatedValues | async }}
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div>
                    <mat-card>
                        <mat-card-title>
                            Local and remote sentence with missing interpolations
                        </mat-card-title>
                        <mat-card-subtitle>
                            <div>
                                'withMissingInterpolations' | icsLocoSwitcher: hasInternet | transloco | icsTransloco |
                                async
                            </div>
                        </mat-card-subtitle>
                        <mat-divider></mat-divider>
                        <mat-card-content>
                            <div>
                                <h4>Local Text with dynamic data.</h4>
                                <div>
                                    {{'withMissingInterpolations' | icsLocoSwitcher: false | transloco | icsTransloco | async }}
                                </div>
                                <h4>Remote Text with dynamic data</h4>
                                <div>
                                    {{'withMissingInterpolations' | icsLocoSwitcher: true | transloco | icsTransloco | async }}
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div>
                    <mat-card>
                        <mat-card-title>
                            Local and remote images
                        </mat-card-title>
                        <mat-card-subtitle>
                            <div>
                                img width='250' height='250'
                                [src]="'logo.path' | icsLocoSwitcher: true | transloco | icsTransloco | async"
                            </div>
                        </mat-card-subtitle>
                        <mat-divider></mat-divider>
                        <mat-card-content>
                            <div class='div-column'>
                                <div class='div-item'>
                                    <h4>Local Image</h4>
                                    <div>
                                        {{'logo.path' | icsLocoSwitcher: false | transloco | icsTransloco | async }}
                                    </div>
                                    <div>
                                        <img
                                            [src]="'logo.path' | icsLocoSwitcher: false | transloco | icsTransloco | async" />
                                    </div>
                                </div>
                                <div class='div-item'>
                                    <h4>Remote Image</h4>
                                    <div>
                                        {{'logo.path' | icsLocoSwitcher: true | transloco | icsTransloco | async }}
                                    </div>
                                    <div><img width='250' height='250'
                                            [src]="'logo.path' | icsLocoSwitcher: true | transloco | icsTransloco | async" />
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div>
                    <mat-card>
                        <mat-card-title>
                            Local and remote videos
                        </mat-card-title>
                        <mat-card-subtitle>
                            <div>
                                'movie.path' | icsLocoSwitcher: false | transloco | icsTransloco | async
                            </div>
                        </mat-card-subtitle>
                        <mat-divider></mat-divider>
                        <mat-card-content>
                            <div class='div-column'>
                                <div class='div-item'>
                                    <h4>Local Video</h4>
                                    <div>
                                        <app-video width='200' height='200'
                                            [srcLink]="'movie.path' | icsLocoSwitcher: false | transloco | icsTransloco | async">
                                        </app-video>
                                    </div>
                                </div>
                                <div>
                                    <h4>Remote Video</h4>
                                    <div class='div-item'>
                                        <app-video width='200' height='200'
                                            [srcLink]="'movie.path' | icsLocoSwitcher: true | transloco | icsTransloco | async">
                                        </app-video>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div>
                    <mat-card>
                        <mat-card-title>
                            Local and remote html articles
                        </mat-card-title>
                        <mat-card-subtitle>
                            <div>
                                &lt;div [innerHTML]="'article1.body' | icsLocoSwitcher: hasInternet | transloco |
                                icsTransloco
                                | async&quot;&gt;/div&gt; </div>
                        </mat-card-subtitle>
                        <mat-divider></mat-divider>
                        <mat-card-content>
                            <h4>Local HTML Article</h4>
                            <div
                                [innerHTML]="'article1.body' | icsLocoSwitcher: false | transloco | icsTransloco | async">
                            </div>

                            <h4>Remote HTML Article</h4>
                            <div
                                [innerHTML]="'article1.body' | icsLocoSwitcher: true | transloco | icsTransloco | async">
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div>
                    <mat-card>
                        <mat-card-title>
                            Local and remote html articles with tables.
                        </mat-card-title>
                        <mat-card-subtitle>
                            <div>
                                &lt;div [innerHTML]="'article2.body' | icsLocoSwitcher: hasInternet | transloco |
                                icsTransloco
                                | async&quot;&gt;/div&gt;
                            </div>
                            <div>Table style is implicitly applied for clarity. encapsulation: ViewEncapsulation.None
                                required for styles.</div>
                        </mat-card-subtitle>
                        <mat-divider></mat-divider>
                        <mat-card-content>
                            <div>
                                <h4>Local HTML Article</h4>
                                <div
                                    [innerHTML]="'article2.body' | icsLocoSwitcher: false | transloco | icsTransloco | async">
                                </div>

                                <h4>Remote HTML Article</h4>
                                <div
                                    [innerHTML]="'article2.body' | icsLocoSwitcher: true | transloco | icsTransloco | async">
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-list>
        </ng-container>
    </div>
</div>